*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 30px;
    margin: 20px;
    /*
    margin: 20px 25px;
    margin: 20px 25px 30px 35px;
    margin: 200px 20px 0;
    */
    background-color: coral;
    margin: 80px 0;
    padding: 60px;

    border-width: 10px;
    border-style: solid;
    border-color: yellowgreen;

    border: 10px solid red;
    border-radius: 50px;
    border-radius: 0 0 0 55px;
    /* rond parfait */
    border-radius: 9999px;

    border-radius: 10px;
}

span{
    font-size: 45px;
    background-color: red;
    border: 10px solid red;
    border-radius: 10px;
}